<!-- vicente -->
<div id="body">

    <header>
        <div class="navbar">
            <img src="assets/logoWhite.png" class="logo" (click)="routeHomepage()">
            <nav>
                <ul>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="O que você procura?" [(ngModel)]="txtSrc" (keyup.enter)=applyFilter(); />
                    </span>
                </ul>
            </nav>
        </div>
    </header>

    <!-- matheusjmo -->

    <div class="grid">

        <div id="filter" class="col-2">
            <p-card styleClass="p-card-shadow">
                <div id="filter" class="grid">

                    <div class="col-12">
                        <p-dropdown placeholder="Ciências" [disabled]="true" title="Por enquanto só temos aulas de ciências"></p-dropdown>
                    </div>
                    <div class="col-12">
                        <p-dropdown [options]="themes" [(ngModel)]="selectedTheme" placeholder="Escolha um tema" title="Escolha um tema" optionLabel="name"></p-dropdown>
                    </div>

                    <h2 style="padding-left: 15px;">Series: </h2>
                    <div class="grid">
                        <div class="col-6" style="padding-left: 15px;">
                            <p-checkbox name="ano1" value="1" [(ngModel)]="selectedYear" label="1º ano"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 20px;">
                            <p-checkbox name="ano2" value="2" [(ngModel)]="selectedYear" label="2º ano"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 15px;">
                            <p-checkbox name="ano3" value="3" [(ngModel)]="selectedYear" label="3º ano"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 20px;">
                            <p-checkbox name="ano4" value="4" [(ngModel)]="selectedYear" label="4º ano"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 15px;">
                            <p-checkbox name="ano5" value="5" [(ngModel)]="selectedYear" label="5º ano"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 20px;">
                            <p-checkbox name="ano6" value="6" [(ngModel)]="selectedYear" label="6º ano"></p-checkbox>
                        </div>
                    </div>

                    <h2 style="padding-left: 15px;">Possui: </h2>
                    <div class="grid">
                        <div class="col-6" style="padding-left: 15px;">
                            <p-checkbox name="imagem" value="imagem" [(ngModel)]="selectedFormat" label="imagem"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 20px;">
                            <p-checkbox name="video" value="video" [(ngModel)]="selectedFormat" label="vídeo"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 15px;">
                            <p-checkbox name="quadrinhos" value="quadrinhos" [(ngModel)]="selectedFormat" label="quadrinhos"></p-checkbox>
                        </div>
                        <div class="col-6" style="padding-left: 20px;">
                            <p-checkbox name="gifs" value="gifs" [(ngModel)]="selectedFormat" label="gifs"></p-checkbox>
                        </div>
                    </div>

                    <div class="col" id="filterDiv">
                        <p-button id="filterBtn" label="Filtrar" icon="pi pi-filter" [loading]="loading" (click)="applyFilter()"></p-button>
                    </div>

                </div>
            </p-card>
        </div>

        <div class="col-7">
            <div class="grid" id="listCards">
                <tr *ngFor="let card of cards.slice(firstCard, lastCard); let i = index">
                    <div class="col">
                        <p-card class="card" title="Clique para ler notícia completa" styleClass="p-card-shadow" (click)="cardsModal(card)">
                            <ng-template pTemplate="header">
                                <img class="imgCard" alt="Card" src="assets/img/{{card.miniatura}}">
                            </ng-template>
                            <ng-template pTemplate="title">
                                <h4 style="margin-top: -20px;"><b>{{card.titulo}}</b></h4>
                            </ng-template>
                            <ng-template pTemplate="content">
                                <p style="margin-top: 0px;">{{shortedContent(card.texto)}}</p>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <div>
                                    <strong>Fonte: {{card.fonte}}</strong>
                                </div>
                                <div class="flex flex-row-reverse flex-wrap" style="padding-bottom: 0px;">
                                    <div class="col-2">
                                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-outlined" title="Adicionar ao gerador de aulas" (click)="addGenerator(card)" style="color: #34A853; "></button>
                                    </div>
                                    <div class="col-2">
                                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" title="Não tenho interesse" style="color: #D32F2F;"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-card>
                    </div>
                </tr>
            </div>
            <div class="col" style="padding-top: 20px;">
                <p-paginator [rows]="6" [totalRecords]="cards.length" (onPageChange)="paginate()"></p-paginator>
            </div>
        </div>

        <div class="col-3">
            <p-card styleClass="p-card-shadow" title="Apagar aula do gerador">
                <div class="grid" id="generator">
                    <div class="col-9 pt-5">
                        <h2 id="generatorTxt"><b>Gerar Aula</b></h2>
                    </div>
                    <div class="col-3 pt-5">
                        <button id="generatorBtn" pButton pRipple type="button" icon="pi pi-download" class="p-button-raised p-button-text" title="Fazer download" (click)="downloadAula()"></button>
                    </div>
                </div>
                <br>

                <tr *ngFor="let card of setCards">
                    <div class="grid" id="generatorCard" (click)="generatorModal(card)">
                        <div class="col-4" style="padding: 0px;">
                            <img id="imgGenerator" alt="Card" src="assets/img/{{card.miniatura}}">
                        </div>
                        <div class="col" style="padding-top: 20px;">
                            <b>{{card.titulo}}</b>
                        </div>
                    </div>
                </tr>

            </p-card>
        </div>

        <p-dialog class="classModal" [header]="classTitle" [(visible)]="classModal" [draggable]="false" [modal]="true" [baseZIndex]="10000">
            <div class="classModalContent" [innerHTML]="classComplete"></div>
        </p-dialog>

        <p-dialog class="failModal" header="Aula ja adicionada" [(visible)]="failModal" [draggable]="false" [modal]="true" [baseZIndex]="10000">
            <h3 style="font-family: Trebuchet MS;">Escolha outras aulas para adicionar ao gerador</h3>
        </p-dialog>

        <p-dialog class="deleteModal" header="Deseja remover essa aula?" [(visible)]="deleteModal" [draggable]="false" [modal]="true" [baseZIndex]="10000">
            <p style="font-family: Trebuchet MS;">{{classTitle}}</p>
            <br>
            <button pButton pRipple label="Delete" icon="pi pi-trash" style (click)="generatorDelete()" style="background-color: #D32F2F; margin-left: 70px;"></button>
        </p-dialog>

    </div>
</div>